@{
    ViewData["Title"] = "Bacon Bookstore";
}

@*
    This would return only the context from the controller
    @model IQueryable<Book>
*@

@model BooksViewModel


@foreach (Book x in Model.Books)
{
    <partial name="BookSummary" model="x"/>
}
<div page-turner="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>