@page
@model BaconBookstore.Pages.PurchaseConfirmationModel
@{
}

<div class="jumbotron jumbotron-fluid bg-success">
    <div class="container">

        <h1 class="display-4">Purchase Confirmation</h1>
        <p class="lead">Your order has been successfully placed.</p>
        <a class="btn btn-primary" asp-controller="Home">Return Home</a>
    </div>
</div>